[Unit]                                                                                                                                                                                       
Description=data collector                                                                                                                                              
Requires=influxd.service                                                                                                                                                                     
Wants=network-online.target                                                                                                                                                                  
After=network-online.target                                                                                                                                                                  
                                                                                                                                                                                             
[Service]                                                                                                                                                                                    
Type=simple                                                                                                                                                                                  
ExecStart=/opt/tools/data-collector                                                                                                                                                                   
                                                                                                                                                                                             
[Install]                                                                                                                                                                                    
WantedBy=multi-user.target 