[Unit]                                                                                                                                                                                       
Description=Tracking power production and use                                                                                                                                                
Requires=influxd.service                                                                                                                                                                     
Wants=network-online.target                                                                                                                                                                  
After=network-online.target                                                                                                                                                                  
                                                                                                                                                                                             
[Service]                                                                                                                                                                                    
Type=simple                                                                                                                                                                                  
ExecStart=/opt/tools/power                                                                                                                                                                   
                                                                                                                                                                                             
[Install]                                                                                                                                                                                    
WantedBy=multi-user.target 